---
const why = [
  {
    title: "🥳 Easy to write",
    description:
      "ใช้ Notion editor ที่ทรงพลังและยืดหยุ่นในการเขียนและจัดระเบียบบทความของคุณ ไม่ต้องยุ่งกับไฟล์ Markdown ที่ซับซ้อนอีกต่อไป ทุกอย่างเกิดขึ้นง่ายๆ ในที่เดียว",
  },
  {
    title: "⚡ Fast Performance",
    description:
      "Astro สร้างเว็บไซต์ที่รวดเร็วและมีประสิทธิภาพสูง ด้วยการโหลดเฉพาะส่วนที่จำเป็น ทำให้ผู้เยี่ยมชมได้รับประสบการณ์ที่ดีและลดเวลาในการโหลดหน้าเว็บ",
  },
  {
    title: "🔧 Easy to Customize",
    description:
      "ปรับแต่งเว็บไซต์ของคุณได้อย่างง่ายดายด้วย Astro และ Notion API คุณสามารถเพิ่มฟีเจอร์ใหม่ๆ หรือเปลี่ยนแปลงดีไซน์ได้ตามต้องการ โดยไม่ต้องมีความรู้ด้านการเขียนโค้ดมากนัก",
  },
];
---

<section id="why-astro-notion" class="py-8">
  <div class="flex flex-row items-center justify-start gap-2 mb-8">
    <span
      class="w-10 h-10 bg-primary text-white rounded-full items-center justify-center text-xl inline-flex"
      >?</span
    ><h2>ทำไมต้อง Astro + Notion</h2>
  </div>
  <ul class="grid gap-6 md:grid-cols-3">
    {
      why.map((item) => (
        <li class="p-4 md:p-6 rounded-2xl bg-white shadow-2xl/10 hover:shadow-2xl transition-shadow">
          <div class="why-item">
            <h3 class="mb-3">{item.title}</h3>
            <p>{item.description}</p>
          </div>
        </li>
      ))
    }
  </ul>
</section>
